<% layout('layouts/boilerplate') -%>
<div class="col-6 offset-3 my-3 shadow p-5 bg-body rounded">
  <h1>그룹 수정하기</h1>
  <form
    action="/studygroups/<%=studygroup._id %>?_method=PUT"
    method="POST"
    class="needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <div class="my-3">
      <label class="form-label" for="title">스터디 이름</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="studygroup[title]"
        placeholder="스터디그룹명"
        value="<%= studygroup.title %>"
        required
      />
    </div>
    <div class="container my-3">
      <div class="row">
        <div class="col ps-0">
          <label class="form-label" for="capacity">정원</label>
          <input
            class="form-control"
            type="number"
            id="capacity"
            name="studygroup[capacity]"
            placeholder="0"
            value="<%= studygroup.capacity %>"
            required
          />
        </div>
        <div class="col pe-0">
          <label class="form-label" for="subject">과목</label>
          <input
            class="form-control"
            type="text"
            id="subject"
            name="studygroup[subject]"
            placeholder="과목"
            value="<%= studygroup.subject %>"
            required
          />
        </div>
      </div>
    </div>
    <!-- 카카오 주소찾기 -->
    <div>
      <label class="form-label" for="sample4_roadAddress">주소</label>
      <input type="text" id="sample4_postcode" placeholder="우편번호" hidden />
      <input
        class="form-control btn-secondary"
        type="button"
        onclick="sample4_execDaumPostcode()"
        value="우편번호 찾기"
      /><br />
      <input
        class="form-control"
        type="text"
        id="sample4_roadAddress"
        name="studygroup[address]"
        placeholder="도로명주소"
        value="<%= studygroup.address %>"
      />
      <input
        type="text"
        id="sample4_jibunAddress"
        placeholder="지번주소"
        hidden
      />
      <span id="guide" style="color: #999; display: none"></span>
      <input
        type="text"
        id="sample4_detailAddress"
        placeholder="상세주소"
        hidden
      />
      <input
        type="text"
        id="sample4_extraAddress"
        placeholder="참고항목"
        hidden
      />
    </div>
    <div class="my-3">
      <label class="form-label" for="location">장소</label>
      <input
        class="form-control"
        type="text"
        id="location"
        name="studygroup[location]"
        placeholder="장소"
        value="<%= studygroup.location %>"
        required
      />
    </div>
    <div class="my-3">
      <label class="form-label" for="description">스터디 설명</label>
      <textarea
        class="form-control"
        type="text"
        id="description"
        name="studygroup[description]"
        style="height: 240px"
        required
      >
<%=studygroup.description %></textarea
      >
    </div>
    <div class="mb-3">
      <label class="form-label" for="images">이미지</label>
      <input
        type="file"
        class="form-control"
        id="images"
        name="images"
        multiple
      />
    </div>
    <div>
      <label class="form-label" for="deleteImages"
        >삭제할 이미지를 선택해주세요</label
      >
      <br />
      <% studygroup.images.forEach((img, i) =>{ %>
      <img class="img-thumbnail" src="<%=img.thumbnail%>" alt="" />
      <div>
        <input
          type="checkbox"
          id="image-<%=i%>"
          name="deleteImages[]"
          value="<%=img.filename%>"
        />
      </div>
      <% }) %>
    </div>
    <div>
      <button type="submit" class="my-3 btn btn-success">저장하기</button>
    </div>
  </form>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/javascripts/kakaoAddress.js"></script>
