<% layout('layouts/boilerplate') -%>
<div class="container">
  <div class="m-3">
    <div class="row">
      <a
        href="/studygroups/new"
        style="width: 200px"
        class="btn btn-success btn-sm ms-auto"
        >스터디그룹 만들기</a
      >
    </div>
  </div>
  <ul class="m-0 p-0">
    <div class="row justify-content-center align-items-center gap-5 my-5">
      <% for(const studygroup of studygroups){ %>
      <div class="card p-0" style="width: 18rem">
        <img
          style="width: auto"
          src="<%= studygroup.images.length> 0? studygroup.images[0].url :null%>"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%= studygroup.title %></h5>
          <div class="card-text d-flex justify-content-between">
            <small class="text-muted"
              ><%= studygroup.participants.length %>/<%=studygroup.capacity
              %></small
            >
            <p class="btn btn-primary btn-sm text-truncat m-0">
              <%= studygroup.subject %>
            </p>
          </div>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            style="
              text-decoration: none;
              color: rgb(53, 80, 104);
              font-weight: bold;
            "
            href="/studygroups/<%= studygroup._id %>"
            >더보기</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </ul>
</div>
