<% layout('layouts/boilerplate') -%>
<div class="container">
  <div class="m-3">
    <div class="row">
      <a
        href="/studygroups/new"
        style="width: 200px"
        class="btn btn-success btn-sm ms-auto"
        >스터디그룹 만들기</a
      >
    </div>
  </div>
  <div class="mb-3">
    <div class="d-inline dropdown mt-3 me-3">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        지역을 선택하세요
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" href="/studygroups">모두</a>
        </li>
        <% for(const city of cities) {%>
        <li>
          <% if(subject !== undefined){ %>
          <a
            class="dropdown-item"
            href="/studygroups?city=<%=city %>&subject=<%=subject %>"
            ><%= city %></a
          >
          <% } else {%>
          <a class="dropdown-item" href="/studygroups?city=<%=city %>"
            ><%= city %></a
          >
          <% } %>
        </li>
        <% } %>
      </ul>
    </div>
    <% if(city !== undefined) { %>
    <div class="d-inline badge rounded-pill bg-primary me-3">
      <%= city %>(으)로 검색했어요
    </div>
    <% } %>
  </div>
  <div class="mb-3">
    <div class="d-inline dropdown mt-3 me-3">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        과목을 선택하세요
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/studygroups">모두</a></li>
        <% for(const subject of subjects) {%>
        <li>
          <% if(city !== undefined){ %>
          <a
            class="dropdown-item"
            href="/studygroups?city=<%=city %>&subject=<%=subject %>"
            ><%= subject %></a
          >
          <% } else {%>
          <a class="dropdown-item" href="/studygroups?subject=<%=subject %>"
            ><%= subject %></a
          >
          <% } %>
        </li>
        <% } %>
      </ul>
    </div>
    <% if(subject !== undefined) { %>
    <div class="d-inline badge rounded-pill bg-primary">
      <%= subject %>(으)로 검색했어요
    </div>
    <% } %>
  </div>
  <ul class="m-0 p-0">
    <div class="row justify-content-center align-items-center gap-5 my-5">
      <% for(const studygroup of studygroups){ %>
      <div class="card p-0" style="width: 18rem">
        <img
          style="width: auto"
          src="<%= studygroup.images.length> 0? studygroup.images[0].url :null%>"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%= studygroup.title %></h5>
          <div class="card-text d-flex justify-content-between">
            <small class="text-muted"
              ><%= studygroup.participants.length %>/<%=studygroup.capacity
              %></small
            >
            <p class="btn btn-primary btn-sm text-truncat m-0">
              <%= studygroup.subject %>
            </p>
          </div>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            style="
              text-decoration: none;
              color: rgb(53, 80, 104);
              font-weight: bold;
            "
            href="/studygroups/<%= studygroup._id %>"
            >더보기</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </ul>
</div>
