<% layout('layouts/boilerplate') -%>
<div class="container col-10 offset-1 p-0">
  <div class="mx-3">
    <h1 class="my-3">StudyGroup Lists</h1>
    <div class="row">
      <a
        href="/studygroups/new"
        style="width: 200px"
        class="btn btn-success btn-sm ms-auto"
        >스터디그룹 만들기</a
      >
    </div>
  </div>
  <ul class="m-0 p-0">
    <div class="row justify-content-between align-items-center">
      <% for(const studygroup of studygroups){ %>
      <div class="card text-dark bg-light m-3 col-md-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-7">
            <img class="img-fluid" src="<%=studygroup.images[0].url %>" />
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title"><%= studygroup.title %></h5>
              <p class="card-text">
                <small class="text-muted"
                  ><%= studygroup.participants.length %>/<%=studygroup.capacity
                  %></small
                >
              </p>
              <p class="card-text text-truncat"><%= studygroup.subject %></p>
              <a href="/studygroups/<%= studygroup._id %>">상세정보</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </ul>
</div>
