<% layout('layouts/boilerplate') -%>
    <h1><%= studygroup.title %></h1>
    <h2><%= studygroup.subject %></h2>
    <p><%= `${studygroup.participants.length}/${studygroup.capacity}` %></p>
    <p><%= studygroup.location%></p>
    <p><%= studygroup.description%></p>
    <img src="<%= studygroup.images %>" />
    <a href="/studygroups/<%=studygroup._id  %>/edit">수정하기</a>
    <form
      action="/studygroups/<%=studygroup._id %>?_method=DELETE"
      method="POST"
    >
      <button>삭제</button>
    </form>

