<% layout('layouts/boilerplate') -%>

<div class="container my-5">
  <div class="container">
    <div class="row my-5 justify-content-end">
      <div class="col-2 p-0 mx-2">
        <a
          class="btn btn-warning text-light"
          href="/studygroups/<%=studygroup._id  %>/edit"
          >수정하기</a
        >
      </div>
      <div class="col-2 p-0 mx-2">
        <form
          action="/studygroups/<%=studygroup._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger text-light">삭제</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="container">
          <div class="row align-items-center my-3">
            <div class="col-10">
              <h1><%= studygroup.title %></h1>
            </div>
            <div class="col-2 align-self-end">
              <p class="text-muted text-end"><%= studygroup.location%></p>
            </div>
          </div>
        </div>
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <% studygroup.images.forEach((img, i) => { %>
            <div class="carousel-item <%= i === 0 ? 'active': '' %>">
              <img src="<%= img.url %>" class="d-block w-100" alt="..." />
            </div>
            <% })%>
          </div>
          <% if(studygroup.images.length > 1){ %>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row justify-content-between align-items-center">
              <div>리더 <%= studygroup.author.username %></div>
              <div class="col-3">
                <p class="m-0">
                  <%= `${studygroup.participants.length}/${studygroup.capacity}`
                  %>
                </p>
              </div>
              <div class="col-3 text-end">
                <p class="btn btn-primary btn-sm m-0">
                  <%= studygroup.subject %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <!-- 카카오맵 -->
      <div id="map" style="width: 450px; height: 300px; margin: auto"></div>
      <p><%= studygroup.description%></p>
    </div>
  </div>
  <div class="mt-5">
    <form
      action="/studygroups/<%= studygroup._id %>/comments"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="form-group col-10 offset-1">
        <label class="form-text" for="comment">참여자들의 한마디</label>
        <textarea
          class="form-control my-3"
          name="comment[body]"
          id="comment"
          cols="30"
          rows="3"
          required
        ></textarea>
        <button class="btn btn-success my-3">등록하기</button>
      </div>
    </form>
    <ul class="col-10 offset-1 list-group list-group-flush">
      <% for(const comment of studygroup.comments){ %>
      <li class="list-group-item">
        <div class="container">
          <div class="row">
            <div class="col-9">
              <%= comment.body %>
              <span class="text-sm text-muted"
                ><%= comment.author.username %></span
              >
            </div>
            <div class="col-3">
              <span
                ><%= comment.date.getFullYear() %>-<%=
                comment.date.getMonth()+1%>-<%= comment.date.getDate()%></span
              >
              <% if(currentUser && comment.author.equals(currentUser._id)){ %>
              <form
                class="d-inline"
                action="/studygroups/<%= studygroup._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-danger btn-sm">삭제</button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</div>

<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=process.env.KAKAOMAP_JAVASCRIPT_KEY %>&libraries=services"
></script>
<script>
  const studygroup = <%- JSON.stringify(studygroup) %>
  var container = document.getElementById("map"); //지도를 담을 영역의 DOM 레퍼런스
  var options = {
    //지도를 생성할 때 필요한 기본 옵션
    center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
    level: 3, //지도의 레벨(확대, 축소 정도)
  };

  var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

  // 주소-좌표 변환 객체를 생성
  var geocoder = new kakao.maps.services.Geocoder();

  // 주소로 좌표를 검색합니다
  geocoder.addressSearch(
    // "서울 노원구 동일로241가길 5",
    studygroup.address,
    function (result, status) {
      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords,
        });
        console.log(marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      }
    }
  );
</script>
